  height: 2px;
  display: block;
  background: black;
  transition: 500ms;
}

.under:hover::after {
  width: 100%;
}

.footer {
  background-color: #f6f6f6;
}

.footer-content {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#github {
  display: block;
  text-decoration: none;

  animation-duration: 3s;
}

#github:hover {
  color: black;
}

#time {
  display: block;
}

#rs-logo {
  display: block;
  width: 82px;
  opacity: 70%;
  transition: opacity 0.2s;
}

#rs-logo:hover {
  opacity: 100%;
}

#youtube {
  opacity: 70%;
  display: block;
  transition: opacity 0.2s;
  width: 82px;
}

#youtube:hover {
  opacity: 100%;
}

@media (min-width: 1200px) {
  .main-wrapper {
    width: 1000px;
  }
  #photo {
    width: 400px;
  }
  .gray {
    position: relative;
    background: #f6f6f6;
    width: 750px;
  }
  #great-text {
    font-size: 70px;
    line-height: 90px;
  }
  .header {
    width: 350px;
    font-size: 15px;
    letter-spacing: 3px;
  }
  #about-me {
    width: 600px;
  }
  .section {
    margin-left: 80px;
  }
  .centered {
    margin-top: 115px;
    margin-left: 220px;
  }
  .heading {
    margin-top: 100px;
    font-size: 40px;
    line-height: 60px;
  }
  .title {
    font-size: 20px;
    line-height: 25px;
  }
  .main-text {
    font-size: 18px;
    line-height: 27px;
  }
  #rs-logo {
    width: 60px;
  }
  #youtube {
    width: 60px;
  }
  .footer {
    height: 90px;
    margin-top: 110px;
  }

  .purple {
    bottom: 30px;
  }

  #first-p {
    left: 48px;
  }
  #second-p {
    left: 95px;
  }
  #third-p {
    left: 24px;
  }
}

@media (min-width: 1400px) {
  .main-wrapper {
    width: 1200px;
  }
  #photo {
    width: 500px;
  }
  .gray {
    position: relative;
    background: #f6f6f6;
    width: 850px;
  }
  #great-text {
    font-size: 80px;
    line-height: 100px;
  }
  .header {
    width: 350px;
    font-size: 15px;
    letter-spacing: 3px;
  }
  #about-me {
    width: 700px;
  }
  .section {
    margin-left: 118px;
  }
  .centered {
    margin-left: 320px;
  }
  .heading {
    margin-top: 125px;
    font-size: 40px;
    line-height: 60px;
  }
  .title {
    font-size: 22px;
    line-height: 35px;
  }
  .main-text {
    font-size: 22px;
    line-height: 33px;
  }
  #rs-logo {
    width: 70px;
  }
  #youtube {
    width: 70px;
  }
  .footer {
    height: 110px;
    margin-top: 140px;
  }

  .purple {
    bottom: 25px;
  }
}
