body {
  background-color: #fff;
  width: 100%;
}

* {
  scroll-behavior: smooth;
}

.menu {
  background-color: #f6f6f6;
  position: fixed;
  z-index: 1000;
  width: 200px;
  height: 100vh;
  top: 0px;
  left: -200px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: all ease-in-out 0.3s;
}

.menu .nav ul {
  position: relative;
  margin-top: 50px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.menu:hover {
  left: 0px;
}

.menu:hover .menu__img {
  opacity: 0;
}

.menu__img {
  position: absolute;
  top: 50px;
  right: -50px;
  width: 70px;
  height: 35px;
  background: url("../icons/menu.png") center center;
  background-size: contain;
  transition: all ease-in-out 0.3s;
}

.menu__img:hover {
  right: 0;
  opacity: 0;
}

.menu .nav ul a {
  transition: all ease-in-out 0.3s;
}

.menu .nav ul a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #6d6d6d;
}

.main-wrapper {
  position: relative;
  margin: 0px auto;
  background-color: #fff;
}

.intro {
  position: relative;
}

#great-text {
  display: block;
  width: 640px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 177px;
  left: 118px;
  color: rgba(153, 153, 153, 1);
}

.header {
  position: absolute;
  top: 54px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.nav > ul {
  display: flex;
  justify-content: space-around;
}

li > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.nav > ul > li {
  display: inline-block;
}

.gray {
  position: relative;
  background: #f6f6f6;
}

#gray-1 {
  margin: 0 0 0 auto;
}

#photo {
  display: block;
  margin: 0 0 0 auto;
}

/* INFO  */

.section {
  position: relative;
  margin-top: 50px;
}

.heading {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: rgba(153, 153, 153, 1);
}

.title {
  display: block;
  font-family: "Poppins", sans-serif;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  font-weight: bold;
  z-index: 2;
}

.title-wrapper > .title {
  display: inline-block;
  position: absolute;
  top: -60px;
}

.title-wrapper .main-text {
  margin-top: 65px;
}

.title-wrapper {
  position: relative;
}

.section > ul {
  margin-top: 15px;
  padding-left: 35px;
}

.centered {
  margin-left: 355px;
}

#about-me {
  display: block;
  width: 927px;
}

#contact-1 {
  list-style-image: url("../icons/gmail.png");
}

#contact-2 {
  list-style-image: url("../icons/telegram.png");
}

#contact-3 {
  list-style-image: url("../icons/discord.png");
}

#skills {
  list-style-image: url("../icons/square.png");
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#edu {
  list-style-image: url("../icons/square.png");
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.purple {
  height: 20px;
  width: 90px;
  background-color: #583aa7;
  position: absolute;
}

#code {
  position: relative;
  right: 48px;
}

#english {
  display: block;
  width: 690px;
}

.under::after {
  content: "";
  margin: 0 auto;
  margin-top: 2px;
  width: 0px;
  height: 2px;
  display: block;
  background: black;
  transition: 500ms;
}

.under:hover::after {
  width: 100%;
}

.footer {
  background-color: #f6f6f6;
}

.footer-content {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#github {
  display: block;
  text-decoration: none;

  animation-duration: 3s;
}

#github:hover {
  color: black;
}

#time {
  display: block;
}

#rs-logo {
  display: block;
  width: 82px;
  opacity: 70%;
  transition: opacity 0.2s;
}

#rs-logo:hover {
  opacity: 100%;
}

#youtube {
  opacity: 70%;
  display: block;
  transition: opacity 0.2s;
  width: 82px;
}

#youtube:hover {
  opacity: 100%;
}

.project {
  margin-top: 20px;
  display: flex;
  justify-content: start;
}

.project-title {
  font: 400 normal 24px/24px "Poppins", sans-serif;
}

.technologies {
  margin-top: 10px;
  font: 400 normal 16px/18px "Poppins", sans-serif;
}

.project-desc {
  margin-top: 10px;
  font: 400 normal 16px/18px "Poppins", sans-serif;
}

.see-project {
  margin-top: 15px;
  text-align: center;
  display: block;
  width: 120px;
  font: 400 normal 16px/40px "Poppins", sans-serif;
  height: 40px;
  text-decoration: none;
  border-radius: 3px;
  background-color: #583aa7;
  color: white;
}

.project-info {
  padding-left: 20px;
  display: inline-block;
}

.project-img {
  width: 500px;
  border-radius: 3px;
}

@media (min-width: 320px) {
  .menu {
    font-size: 15px;
  }
  .menu__img {
    height: 35px;
    width: 70px;
  }
  .main-wrapper {
    width: 300px;
    margin: 0 auto;
  }
  #photo {
    width: 150px;
  }
  .gray {
    position: relative;
    background: #f6f6f6;
    width: 300px;
  }
  #great-text {
    width: 200px;
    left: 20px;
    top: 75px;
    font-size: 30px;
    line-height: 40px;
  }
  .header {
    display: none;
  }
  #about-me {
    width: 300px;
  }
  #english {
    width: 300px;
  }
  #edu li {
    width: 250px;
  }
  .section {
    margin-left: 0px;
  }
  .centered {
    margin-top: 85px;
  }
  .heading {
    margin-top: 70px;
    font-size: 30px;
    line-height: 45px;
  }
  .title {
    font-size: 20px;
    line-height: 25px;
  }
  .main-text {
    font-size: 14px;
    line-height: 20px;
  }
  #rs-logo {
    width: 60px;
  }
  #youtube {
    width: 60px;
  }
  .footer {
    height: 90px;
    margin-top: 110px;
  }

  .purple {
    bottom: 30px;
  }

  #first-p {
    left: 48px;
  }
  #second-p {
    left: 95px;
  }
  #third-p {
    left: 24px;
  }

  .project {
    flex-direction: column;
    row-gap: 10px;
    width: 300px;
  }

  .project-info {
    padding-left: 0;
  }

  .project-img {
    width: 300px;
  }

  .footer-content {
    width: 300px;
    margin: 0 auto;
  }
}

@media (min-width: 450px) {
  .menu {
    font-size: 15px;
  }
  .menu__img {
    top: 20px;
  }
  .main-wrapper {
    width: 400px;
    margin: 0 auto;
  }
  #photo {
    width: 200px;
  }
  .gray {
    position: relative;
    background: #f6f6f6;
    width: 400px;
  }
  #great-text {
    width: 200px;
    left: 20px;
    top: 75px;
    font-size: 30px;
    line-height: 40px;
  }
  .header {
    display: none;
  }
  #about-me {
    width: 350px;
  }
  #english {
    width: 350px;
  }
  #edu li {
    width: 300px;
  }
  .section {
    margin-left: 30px;
  }
  .centered {
    margin-top: 115px;
  }
  .heading {
    margin-top: 70px;
    font-size: 40px;
    line-height: 60px;
  }
  .title {
    font-size: 20px;
    line-height: 25px;
  }
  .main-text {
    font-size: 18px;
    line-height: 27px;
  }
  #rs-logo {
    width: 60px;
  }
  #youtube {
    width: 60px;
  }
  .footer {
    height: 90px;
    margin-top: 110px;
  }

  .purple {
    bottom: 30px;
  }

  #first-p {
    left: 48px;
  }
  #second-p {
    left: 95px;
  }
  #third-p {
    left: 24px;
  }

  .project {
    flex-direction: column;
    row-gap: 10px;
    width: 300px;
  }

  .project-info {
    padding-left: 0;
  }

  .project-img {
    width: 350px;
  }

  .footer-content {
    width: 400px;
    margin: 0 auto;
  }
}

@media (min-width: 600px) {
  .menu {
    font-size: 15px;
  }
  .main-wrapper {
    width: 550px;
  }
  #photo {
    width: 200px;
  }
  .gray {
    position: relative;
    background: #f6f6f6;
    width: 550px;
  }
  #great-text {
    width: 500px;
    left: 50px;
    top: 95px;
    font-size: 40px;
    line-height: 50px;
  }
  .header {
    width: 350px;
    font-size: 15px;
    letter-spacing: 3px;
  }
  #about-me {
    width: 400px;
  }
  #english {
    width: 500px;
  }
  .section {
    margin-left: 0px;
  }
  .centered {
    margin-top: 115px;
    margin-left: 20px;
  }
  .heading {
    margin-top: 70px;
    font-size: 40px;
    line-height: 60px;
  }
  .title {
    font-size: 20px;
    line-height: 25px;
  }
  .main-text {
    font-size: 18px;
    line-height: 27px;
  }
  #rs-logo {
    width: 60px;
  }
  #youtube {
    width: 60px;
  }
  .footer {
    height: 90px;
    margin-top: 110px;
  }

  .purple {
    bottom: 30px;
  }

  #first-p {
    left: 48px;
  }
  #second-p {
    left: 95px;
  }
  #third-p {
    left: 24px;
  }

  .project {
    /* flex-direction: column; */
    flex-direction: row;
    row-gap: 10px;
    width: 300px;
  }

  .project-info {
    padding-left: 10px;
  }

  .project-desc {
    width: 250px;
  }

  .project-img {
    width: 250px;
  }

  .footer-content {
    width: 550px;
    margin: 0 auto;
  }
}

@media (min-width: 800px) {
  .menu {
    font-size: 15px;
  }
  .main-wrapper {
    width: 700px;
  }
  #photo {
    width: 250px;
  }
  .gray {
    position: relative;
    background: #f6f6f6;
    width: 600px;
  }
  #great-text {
    width: 500px;
    top: 120px;
    font-size: 50px;
    line-height: 70px;
  }
  .header {
    display: block;
    width: 350px;
    font-size: 15px;
    letter-spacing: 3px;
  }
  #about-me {
    width: 600px;
  }
  #english {
    width: 500px;
  }
  .section {
    margin-left: 40px;
  }
  .centered {
    margin-top: 115px;
    margin-left: 80px;
  }
  .heading {
    margin-top: 70px;
    font-size: 40px;
    line-height: 60px;
  }
  .title {
    font-size: 20px;
    line-height: 25px;
  }
  .main-text {
    font-size: 18px;
    line-height: 27px;
  }
  #rs-logo {
    width: 60px;
  }
  #youtube {
    width: 60px;
  }
  .footer {
    height: 90px;
    margin-top: 110px;
  }

  .purple {
    bottom: 30px;
  }

  #first-p {
    left: 48px;
  }
  #second-p {
    left: 95px;
  }
  #third-p {
    left: 24px;
  }
  .project {
    flex-direction: row;
  }

  .project-img {
    width: 350px;
  }

  .footer-content {
    width: 700px;
    margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  .menu {
    font-size: 15px;
  }
  .main-wrapper {
    width: 900px;
  }
  #photo {
    width: 300px;
  }
  .gray {
    position: relative;
    background: #f6f6f6;
    width: 600px;
  }
  #great-text {
    top: 120px;
    font-size: 50px;
    line-height: 70px;
  }
  .header {
    width: 350px;
    font-size: 15px;
    letter-spacing: 3px;
  }
  #about-me {
    width: 600px;
  }
  .section {
    margin-left: 80px;
  }
  .centered {
    margin-top: 115px;
    margin-left: 220px;
  }
  .heading {
    margin-top: 100px;
    font-size: 40px;
    line-height: 60px;
  }
  .title {
    font-size: 20px;
    line-height: 25px;
  }
  .main-text {
    font-size: 18px;
    line-height: 27px;
  }
  #rs-logo {
    width: 60px;
  }
  #youtube {
    width: 60px;
  }
  .footer {
    height: 90px;
    margin-top: 110px;
  }

  .purple {
    bottom: 30px;
  }

  #first-p {
    left: 48px;
  }
  #second-p {
    left: 95px;
  }
  #third-p {
    left: 24px;
  }

  .project-img {
    width: 400px;
  }

  .footer-content {
    width: 900px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .menu {
    font-size: 15px;
  }
  .main-wrapper {
    width: 1000px;
  }
  #photo {
    width: 400px;
  }
  .gray {
    position: relative;
    background: #f6f6f6;
    width: 750px;
  }
  #great-text {
    font-size: 70px;
    line-height: 90px;
  }
  .header {
    width: 350px;
    font-size: 15px;
    letter-spacing: 3px;
  }
  #about-me {
    width: 600px;
  }
  .section {
    margin-left: 80px;
  }
  .centered {
    margin-top: 115px;
    margin-left: 220px;
  }
  .heading {
    margin-top: 100px;
    font-size: 40px;
    line-height: 60px;
  }
  .title {
    font-size: 20px;
    line-height: 25px;
  }
  .main-text {
    font-size: 18px;
    line-height: 27px;
  }
  #rs-logo {
    width: 60px;
  }
  #youtube {
    width: 60px;
  }
  .footer {
    height: 90px;
    margin-top: 110px;
  }

  .purple {
    bottom: 30px;
  }

  #first-p {
    left: 48px;
  }
  #second-p {
    left: 95px;
  }
  #third-p {
    left: 24px;
  }

  .project-img {
    width: 500px;
  }

  .footer-content {
    width: 1000px;
    margin: 0 auto;
  }
}

@media (min-width: 1400px) {
  .menu {
    font-size: 15px;
  }
  .main-wrapper {
    width: 1200px;
  }
  #photo {
    width: 500px;
  }
  .gray {
    position: relative;
    background: #f6f6f6;
    width: 850px;
  }
  #great-text {
    font-size: 80px;
    line-height: 100px;
  }
  .header {
    width: 350px;
    font-size: 15px;
    letter-spacing: 3px;
  }
  #about-me {
    width: 700px;
  }
  .section {
    margin-left: 118px;
  }
  .centered {
    margin-left: 320px;
  }
  .heading {
    margin-top: 125px;
    font-size: 40px;
    line-height: 60px;
  }
  .title {
    font-size: 22px;
    line-height: 35px;
  }
  .main-text {
    font-size: 22px;
    line-height: 33px;
  }
  #rs-logo {
    width: 70px;
  }
  #youtube {
    width: 70px;
  }
  .footer {
    height: 110px;
    margin-top: 140px;
  }

  .purple {
    bottom: 25px;
  }

  .footer-content {
    width: 1200px;
    margin: 0 auto;
  }
}

@media (min-width: 1600px) {
  .main-wrapper {
    width: 1400px;
  }
  #great-text {
    font-size: 80px;
    line-height: 100px;
  }
  #photo {
    width: 592px;
  }
  .gray {
    width: 1045px;
  }
  .header {
    width: 453px;
    font-size: 18px;
    letter-spacing: 3px;
  }
  #about-me {
    width: 927px;
  }
  .section {
    margin-left: 118px;
  }
  .centered {
    margin-left: 355px;
  }
  .heading {
    margin-top: 175px;
    font-size: 50px;
    line-height: 75px;
  }
  .title {
    font-size: 26px;
    line-height: 39px;
  }
  .main-text {
    font-size: 22px;
    line-height: 33px;
  }
  .footer {
    height: 130px;
    margin-top: 175px;
  }
  #rs-logo {
    width: 82px;
  }
  #youtube {
    width: 82px;
  }

  .purple {
    bottom: 20px;
  }

  #first-p {
    left: 50px;
  }
  #second-p {
    left: 115px;
  }
  #third-p {
    left: 30px;
  }

  .footer-content {
    margin: 0 auto;
    width: 1400px;
  }
}
